/*----SECCIONES NOSOTROS----*/
/*-- ENCABEZADOS --*/
span {
    .encabezado__nosotros {
        display: map-get($encabezadonosotros, display);
        font-family: map-get($encabezadonosotros, familia-fuente);
        justify-content: map-get($encabezadonosotros, j-content);
        text-align: map-get($encabezadonosotros, text-align);
        font-size: map-get($encabezadonosotros, tamaño-fuente);
        background-color: map-get($encabezadonosotros, bg-color);
        color: map-get($encabezadonosotros, texto-color);

        @media screen and (max-width:450px){
            font-size: 20px;
        }
    }
}

/*-- CARRUSEL --*/

div {
    div {
        .img__carrusel {
            height: 800px;
            width: 100%;


            @media screen and (max-width:450px){
                height: 300px;
            }
        }
    }
}

/*-- PARRAFO --*/
span {
    .parrafo__comunidad {
        @extend %flexd;
        width: 100%;
        font-family: Roboto;
        @include fontS (35px);
        background-color: rgba(163, 213, 214, 70%);
        margin: 15px 0px;


        @media screen and (max-width:450px){
            font-size: 16px;
        }
    }
}

/*-- CARDS --*/

div {
    .centrado__cards {
        @extend %flexd;
        @extend %j-cent;
        .card__nosotros {
            margin: 25px 15px;
            background-color: rgb(163, 213, 214);
            font-family: Roboto;
            @include fontS (16px);
            border-radius: 3px;
            border: 10px double rgba(18, 18, 211,30%);
        }
    }
}