* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5px;
}

.fondo__index {
    background-image: url(../Images/Imagenes-proyecto/PUBLICOOO.jpg);
    background-size: cover;
}

.gradiente__fondo {
    background: rgb(21, 193, 231);
    background-image: radial-gradient(circle, rgba(21, 193, 231, 1) 1%, rgba(1, 148, 246, 1) 45%, rgba(0, 255, 224, 1) 95%, rgba(44, 240, 226, 1) 97%, rgba(44, 240, 226, 1) 100%);
}

.titulos__encabezados{
    font-family: Whole;
    font-size: 70px;
    color: rgb(8, 91, 137);

    @media screen and (max-width:450px){
        font-size: 100%;
    }
}

@font-face {
    font-family: Roboto;
    src: url(../Font/Roboto-Regular.ttf) format('');
    font-display: swap;
}

.disclaimer{
    display: none;
}