/*----EXTENDS----*/

%flexcom{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexd{
    display: flex;
}

%alingc{
    align-items: center;
}

%j-cent{
    justify-content: center;
}
