
$encabezadonosotros:(
        display: flex,
        familia-fuente: 'Roboto',
        j-content: center,
        text-align: center,
        tamaño-fuente: 50px,
        bg-color: rgba(63, 143, 181, 60%),
        texto-color: rgba(0, 0, 0, 40%),
);